<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         colors="true"
         timeoutForLargeTests="60">

    <php>
        <includePath>.</includePath>
        <const name="TEST_TIMEZONE" value="Asia/Jakarta"/>
      
         <const name="TEST_BUILD_VERSION" value="4.3"/>
        <const name="TEST_URL" value="https://sellercentral.amazon.com/gp/orders-v2/search/ref=ag_myosearch_apsearch_myo"/>
        <const name="TEST_BROWSER1" value="firefox"/>
        <const name="TEST_BROWSER2" value="chrome"/>
        <const name="TEST_BROWSER3" value="ie"/>

        <const name="MYSQL_HOST" value="localhost"/>
        <const name="MYSQL_USERNAME" value="root"/>
        <const name="MYSQL_PASSWORD" value=""/>
        <const name="MYSQL_DB" value="db_amazon_tracking"/>
        
    </php>


    <testsuites name="Tracking">
        <file>test/tracking/verifyTrackingReviewer.php</file>
        <file>test/tracking/verifyTrackingOrderContact.php</file>
    </testsuites>

    <logging>
        <log type="testdox-html" target="log/test_log.html"/>
        <log type="testdox-text" target="log/test_log.txt"/>
        <log type="coverage-php" target="log/test_log.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="log/test_log.json"/>
        <log type="junit" target="log/test_log.xml" logIncompleteSkipped="false"/>
         
    </logging>

</phpunit>